In [25]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [26]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-11-25 22:41:49,-46.1927,168.8643,56.26,81,100,3.27
1,1,Bluff,NZ,2021-11-25 22:41:50,-46.6000,168.3333,50.68,91,100,13.15
2,2,Wodonga,AU,2021-11-25 22:41:50,-36.1167,146.8833,64.26,83,90,11.01
3,3,Zyryanovsk,KZ,2021-11-25 22:41:51,49.7386,84.2719,32.97,99,100,7.99
4,4,Porto Novo,BJ,2021-11-25 22:41:51,6.4965,2.6036,84.02,83,9,6.89

In [27]:
# get the data types for df
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [28]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Porto Novo,BJ,2021-11-25 22:41:51,6.4965,2.6036,84.02,83,9,6.89
6,6,Rikitea,PF,2021-11-25 22:41:52,-23.1203,-134.9692,76.57,75,8,10.76
7,7,Puerto Ayora,EC,2021-11-25 22:41:52,-0.7393,-90.3518,78.76,87,69,10.00
11,11,Butaritari,KI,2021-11-25 22:41:55,3.0707,172.7902,82.72,72,89,16.46
20,20,Atuona,PF,2021-11-25 22:41:57,-9.8000,-139.0333,78.35,79,12,17.52
23,23,Sao Jose Da Coroa Grande,BR,2021-11-25 22:39:52,-8.8978,-35.1478,79.00,81,11,9.62
24,24,Padang,ID,2021-11-25 22:41:58,-0.9492,100.3543,77.56,83,68,4.54
36,36,Djenne,ML,2021-11-25 22:42:02,13.9061,-4.5533,81.19,21,1,7.90
37,37,Banda Aceh,ID,2021-11-25 22:42:02,5.5577,95.3222,77.36,85,100,3.15
38,38,Kloulklubed,PW,2021-11-25 22:42:02,7.0419,134.2556,79.30,78,85,16.67

In [35]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [36]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [37]:
preferred_cities_df.notnull().sum()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
4                 Porto Novo      BJ     84.02   6.4965    2.6036
6                    Rikitea      PF     76.57 -23.1203 -134.9692
7               Puerto Ayora      EC     78.76  -0.7393  -90.3518
11                Butaritari      KI     82.72   3.0707  172.7902
20                    Atuona      PF     78.35  -9.8000 -139.0333
23  Sao Jose Da Coroa Grande      BR     79.00  -8.8978  -35.1478
24                    Padang      ID     77.56  -0.9492  100.3543
36                    Djenne      ML     81.19  13.9061   -4.5533
37                Banda Aceh      ID     77.36   5.5577   95.3222
38               Kloulklubed      PW     79.30   7.0419  134.2556

In [39]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [40]:
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
4                 Porto Novo      BJ     84.02   6.4965    2.6036
6                    Rikitea      PF     76.57 -23.1203 -134.9692
7               Puerto Ayora      EC     78.76  -0.7393  -90.3518
11                Butaritari      KI     82.72   3.0707  172.7902
20                    Atuona      PF     78.35  -9.8000 -139.0333
23  Sao Jose Da Coroa Grande      BR     79.00  -8.8978  -35.1478
24                    Padang      ID     77.56  -0.9492  100.3543
36                    Djenne      ML     81.19  13.9061   -4.5533
37                Banda Aceh      ID     77.36   5.5577   95.3222
38               Kloulklubed      PW     79.30   7.0419  134.2556

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))