## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
import os
os.getcwd()

'c:\\Users\\charl\\OneDrive\\Desktop\\Classwork\\World_Weather_Analysis\\Vacation_Search'

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:\\Users\\charl\\OneDrive\\Desktop\\Classwork\\World_Weather_Analysis\\Weather_Database\\WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Tubigan,PH,78.98,broken clouds,8.5322,124.3122,MOONBAY White Beach Resort Co.
1,6,Cabo San Lucas,MX,77.31,overcast clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
2,15,Bambanglipuro,ID,76.06,overcast clouds,-7.9500,110.2833,Puri Brata
3,16,Butaritari,KI,82.04,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
4,18,Atuona,PF,78.42,scattered clouds,-9.8000,-139.0333,Villa Enata

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Tubigan,PH,78.98,broken clouds,8.5322,124.3122,MOONBAY White Beach Resort Co.
1,6,Cabo San Lucas,MX,77.31,overcast clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
2,15,Bambanglipuro,ID,76.06,overcast clouds,-7.9500,110.2833,Puri Brata
3,16,Butaritari,KI,82.04,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
4,18,Atuona,PF,78.42,scattered clouds,-9.8000,-139.0333,Villa Enata
5,20,Rikitea,PF,75.97,few clouds,-23.1203,-134.9692,People ThankYou
6,23,Arraial Do Cabo,BR,84.06,few clouds,-22.9661,-42.0278,Pousada Porto Praia
7,25,Sorong,ID,78.35,overcast clouds,-0.8833,131.2500,Waigo Splash Hotel
8,26,Qui Nhon,VN,76.59,moderate rain,13.7667,109.2333,Hoang Yen Canary Hotel
9,29,Castro,BR,75.33,clear sky,-24.7911,-50.0119,CHACARA BAILLY

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                181
City                   181
Country                181
Max Temp               181
Current Description    181
Lat                    181
Lng                    181
Hotel Name             181
dtype: int64

In [10]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [11]:
preferred_cities_df.notnull().sum()

City_ID                181
City                   181
Country                181
Max Temp               181
Current Description    181
Lat                    181
Lng                    181
Hotel Name             181
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# N/A

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tubigan,PH,78.98,broken clouds,8.5322,124.3122,
1,Cabo San Lucas,MX,77.31,overcast clouds,22.8909,-109.9124,
2,Bambanglipuro,ID,76.06,overcast clouds,-7.9500,110.2833,
3,Butaritari,KI,82.04,scattered clouds,3.0707,172.7902,
4,Atuona,PF,78.42,scattered clouds,-9.8000,-139.0333,
5,Rikitea,PF,75.97,few clouds,-23.1203,-134.9692,
6,Arraial Do Cabo,BR,84.06,few clouds,-22.9661,-42.0278,
7,Sorong,ID,78.35,overcast clouds,-0.8833,131.2500,
8,Qui Nhon,VN,76.59,moderate rain,13.7667,109.2333,
9,Castro,BR,75.33,clear sky,-24.7911,-50.0119,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [15]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tubigan,PH,78.98,broken clouds,8.5322,124.3122,MOONBAY White Beach Resort Co.
1,Cabo San Lucas,MX,77.31,overcast clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
2,Bambanglipuro,ID,76.06,overcast clouds,-7.9500,110.2833,Puri Brata
3,Butaritari,KI,82.04,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
4,Atuona,PF,78.42,scattered clouds,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
176,Ratnagiri,IN,75.51,broken clouds,16.9833,73.3000,Hotel Landmark
177,Lethem,GY,88.70,scattered clouds,3.3803,-59.7968,Savannah Inn
178,Kousseri,CM,79.68,few clouds,12.0769,15.0306,Le Pilotis
179,Banjar,ID,78.66,overcast clouds,-8.1900,114.9675,The Hamsa Resort
180,Cabadiangan,PH,78.19,overcast clouds,9.7531,122.4739,Kipot

In [16]:
preferred_cities_df.notnull().sum()

City_ID                181
City                   181
Country                181
Max Temp               181
Current Description    181
Lat                    181
Lng                    181
Hotel Name             181
dtype: int64

In [17]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tubigan,PH,78.98,broken clouds,8.5322,124.3122,MOONBAY White Beach Resort Co.
1,Cabo San Lucas,MX,77.31,overcast clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
2,Bambanglipuro,ID,76.06,overcast clouds,-7.9500,110.2833,Puri Brata
3,Butaritari,KI,82.04,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
4,Atuona,PF,78.42,scattered clouds,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
176,Ratnagiri,IN,75.51,broken clouds,16.9833,73.3000,Hotel Landmark
177,Lethem,GY,88.70,scattered clouds,3.3803,-59.7968,Savannah Inn
178,Kousseri,CM,79.68,few clouds,12.0769,15.0306,Le Pilotis
179,Banjar,ID,78.66,overcast clouds,-8.1900,114.9675,The Hamsa Resort
180,Cabadiangan,PH,78.19,overcast clouds,9.7531,122.4739,Kipot

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "C:\\Users\\charl\\OneDrive\\Desktop\\Classwork\\World_Weather_Analysis\\Vacation_Search\\WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description}
<dt><b>Max Temp</b></dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))